:root{
    --filme: #d72337;
    --serietv: #915faf;
    --games: #82af69;
    --hq-livros: #f59b37;
    --animemanga: #D241A5;
    --ciencia-tecnologia: #286ED2;
    --outros: #3BB4B4;
    --fundoescuro: #464646;
}

.filmes{
    color:var(--filme)
}
.serietv{
    color: var(--serietv)
}
.games{
    color: var(--games)
}
.hqlivros{
    color: var(--hq-livros)
}
.animemanga{
    color: var(--animemanga)
}
.cienciatecnologia{
    color: var(--ciencia-tecnologia)
}
.outros{
    color: var(--outros)
}



*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}
/*Header*/

body{
    background-image: url("../assets/img/background_pupli-final.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--fundoescuro);
}





/*Main*/

.container {
    margin: 30% auto 0 auto;
    padding-top: 20px;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    width: 90%;
    text-align: center;

}
/*Section card-principal*/




.card-principal0{
    text-align: left;
    padding: 20px 20px;
}

.card-principal0-h1 {
    position: relative;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 2.5em;
    color: var(--outros)

}

.card-principal0-h1::after{
    content: "";
        position: absolute;
        bottom: 40%;
        width: 40%;
        height: 2px;
        background-color: red;
        margin-left: 6px;
        background: var(--outros)
}







/*Section card-principal fim*/



/*section noticias-container*/




/*section noticias-container FIM*/




/*Section mais noticias*/

.noticias-podcast{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.mais-noticias{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    text-align: left;
    width: 100%;
}

.titulo-mais-noticias{
    position: relative;
    font-size: 1.6em;
    font-weight: bold;
    color: var(--filme);
}

.titulo-mais-noticias::after {
    content: "";
        position: absolute;
        bottom: 40%;
        width: 50%;
        height: 2px;
        margin-left: 6px;
        background: var(--filme);
}


.card-mais-noticias{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 300px;
    padding-top: 20px;
    
}

.card-mais-noticias img{
    width: 100%;
    min-width: 280px;
    border-radius: 10px;
    object-fit: cover;

}

.descricao-mais-noticias{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    

}

.descricao-mais-noticias h1{
    font-size: 1.2em;
    color: var(--filme);

}

.descricao-mais-noticias a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.4em;
}

.descricao-mais-noticias p{
    color: darkgray;
}

/*Section mais noticias fim*/

/*Section Podcast*/

.podcast{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;

}

.titulo-podcast{
    position: relative;
    text-align: left;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.5em;
    color: var(--serietv);
    padding: 5px 20px;
}


.titulo-podcast::after {
    content: "";
    position: absolute;
    bottom: 40%;
    width: 50%;
    height: 2px;
    margin-left: 6px;
    background: var(--serietv);
}

.card-podcast{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    gap: 10px

}

.card-podcast img{
    width: 80%;
    min-width: 180px;
    border-radius: 10px;
}


.card-podcast h1 {
    color: var(--serietv);
    font-size: 1.3em;
    font-weight: bold;
    text-transform: capitalize;

}

.card-podcast a {
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    color: black;

}

/*Section Podcast Fim*/

/*Mainfim*/

/*Footer*/

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    background-color: rgb(55, 59, 80);
    height: 100%;
}

.links-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    width: 100%;

}


.links-footer h1{
    font-size: 1.5em;
    color: var(--games);
}

.links-footer ul{
    padding: 20px 10px;
}

.links-footer ul li{
    list-style: none;
    margin-top: 10px;
    
}

.links-footer ul li a {
    list-style: none;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-size: 1.2em;
    

}

.direitos-reservados{
    color: lightgray;
}
/*Footer fim*/



/*Media Query para celular */

@media screen and (max-width: 750px) {
    
    body {
        background-image: url("../assets/img/background_pupli-final.jpg");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 300%;
        background-attachment: scroll;
            
        
    }



    .container {
            margin: 50% auto;
            padding-top: 20px;
            background-color: white;
            border-radius: 10px 10px 0px 0px;
            width: 100%;
            text-align: center;
    
        }

    
}

/*Media Query para dispositivos grandes */

